body {
    text-align: center;
    background-color: cornsilk;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration-line: none;
    color: black;
}

.loading-message {
    font-family: 'Roboto Slab', serif;
    color: gray;
}

#breed-list {
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
}

.breed-card {
    height: 30rem;
    width: 20rem;
    border: thick ridge darkorange;
    background-color: blanchedalmond;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.4);
}

.breed-card-name {
    text-decoration-line: underline;
    font-family: 'Roboto Slab', serif;
}

.breed-card-img {
    border: thin dashed gray;
    max-height: 50%;
    max-width: 90%;
}

.breed-card-type {
    color: black;
}

.breed-card-origin {
    color: black;
}
