body {
    text-align: center;
    background-color: linen;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

a {
    text-decoration-line: none;
    color: black;
}

#breed-list {
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
}

.breed-card {
    height: 30rem;
    width: 20rem;
    border: thick double gray;
    background-color: cornsilk;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.breed-card-name {
    text-decoration-line: underline;
}

.breed-card-img {
    border: thin dashed gray;
    max-height: 50%;
    max-width: 90%;
}

.breed-card-type {
    color: black;
}

.breed-card-origin {
    color: black;
}
